a1 {
	text-decoration: underline;
	text-decoration-color: red;
	color: blue;
}
a2 {
		text-decoration: line-through;
		text-decoration-color: green;
		text-decoration-style: dashed;
		font-family: Georgia;
		color: black;

}
a3 {
	text-decoration:overline;
	text-decoration-color: orange;
	font-style:oblique;
	color: red;
}
