<style>
	table.uwu{
		text-decoration: none;
		border-collapse:collapse;
		width:100%;
		text-align:center;}
	table.uwu th
	{font-weight:normal;
	font-size:14px; 
	color:#ffffff;
	background-color:#354251;
	}
	table.uwu td{
		font-size:13px;
		color:#354251;
		}
	table.uwu td,table.uwu th{
		white-space:pre-wrap;
		padding:10px 19px;
		line-height:13px;
		vertical-align: middle;border: 1px solid #354251;
		}	
	table.uwu tr:hover{
		background-color:#f9fafb
		}
	table.uwu tr:hover td{
		color:#354251;cursor:pointer;
		}
</style>